<!DOCTYPE html>
<html class="is-loading">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- favicons -->
    <link rel="shortcut icon" type="image/ico" href="assets/favicons/favicon.ico?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-touch-icon-60x60.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-touch-icon-76x76.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon-180x180.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="assets/favicons/apple-touch-startup-image-1024x748.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="assets/favicons/apple-touch-startup-image-1536x2008.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="assets/favicons/apple-touch-startup-image-2048x1496.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="assets/favicons/apple-touch-startup-image-320x460.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="assets/favicons/apple-touch-startup-image-640x1096.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="assets/favicons/apple-touch-startup-image-640x920.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="assets/favicons/apple-touch-startup-image-768x1004.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <meta name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png?v=<%= htmlWebpackPlugin.options.REVISION %>">
    <!-- /favicons -->
</head>
<body>
<div id="root"></div>
</body>
</html>
